.dropdown-content{
    display: none;
    position: absolute;
    background-color: #0c0c0c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    
    
}

.dropdown-content p a:hover{
    color:crimson;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}